.events-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b6dbe1;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/images/R.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Make the body height equal to the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .table th {
    background-color: #021a34;
    color: #fff;
  }
  
  .table th:first-child {
    border-top-left-radius: 10px;
  }
  
  .table th:last-child {
    border-top-right-radius: 10px;
  }
  
  .table td:first-child {
    border-bottom-left-radius: 10px;
  }
  
  .table td:last-child {
    border-bottom-right-radius: 10px;
  }
  
  .event button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .event button:hover {
    background-color: #218838;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  