.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  background: linear-gradient(to right, #ff5733, #ffda33, #33ff8b, #3394ff, #ff33ea);
  animation: colorfulBackground 10s infinite alternate;
}

.row {
  width: 100%;
}

.left-panel {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

li a:hover {
  color: #fff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 255, 255, 1), 0 0 60px rgba(255, 255, 255, 1);
}

.logout {
  margin-top: 20px;
  text-align: right;
}

.logout button {
  background-color: #ff5733;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logout button:hover {
  background-color: #d43f0b;
}

.center-panel {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

h1, h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

/* Colorful animations in the background */
@keyframes colorfulBackground {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}
.navbar{
  width: 90%;
  padding: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}