<div class="container">
  <h2>Contact Us</h2>
  <form id="contactForm" action="https://formspree.io/f/moqgyapl" method="POST">
    <input type="text" name="name" placeholder="Your Name" required />
    <input type="email" name="_replyto" placeholder="Your Email" required />
    <textarea name="message" placeholder="Your Message" required></textarea>
    <input type="submit" value="Send" />
  </form>
</div>

<script>
  document
    .getElementById("contactForm")
    .addEventListener("submit", function (event) {
      alert("Thank you for your message!");
    });
</script>
