/* Styling for the alert form */

/* Center the form */
div {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
  }
  
h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}

h1 {
  margin: 0; /* Remove default margin */
}
  /* Label style */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Input and textarea styles */
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Button style */
  button {
    background-color: #8C52FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6F3CFF;
  }
  
  /* Paragraph style */
  p {
    color: #8C52FF;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Heading style */
  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  .events-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  