<video class="background-video" autoplay muted loop>
  <source src="assets\videos\v1.mp4" type="video/mp4" />
</video>
<div class="content">
  <div class="container-fluid">
    <h1>
      Welcome, <span id="username">{{ name }}</span
      >!
    </h1>
    <div class="left-panel">
      <ul>
        <li><a routerLink="/userprofile">View Profile</a></li>
        <li><a routerLink="/eventview">View Ocean Cleanup Campaign</a></li>
        <li><a routerLink="/create-event">Start Ocean Cleanup Event</a></li>
        <li><a routerLink="/map">Search Location</a></li>
        <li><a routerLink="/searchmap">View Location</a></li>
        <li><a routerLink="/change">Change Password</a></li>
      </ul>
    </div>
    <div class="center-panel">
      <div class="alert-container">
        <div class="alert-symbol" onclick="toggleAlertPopup()">⚠</div>
        <div class="alert-popup" id="alertPopup">
          <p class="alert-message">Alert! This is an important message.</p>
          <button class="alert-button" onclick="viewAlert()">View Alert</button>
        </div>
      </div>
    </div>
    <div class="logout">
      <button onclick="logout()">Logout</button>
      <button onclick="startEvent()">Start Event</button>
    </div>
  </div>
</div>
