<<!-- raise-complaint.component.html -->
<div class="complaint-form">
  <h2>Raise Inquiry</h2>
  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="type">Type:</label>
      <select id="type" name="type" [(ngModel)]="inquiryType" required>
        <option value="complaint">Complaint</option>
        <option value="question">Question</option>
      </select>
    </div>

    <div class="form-group">
      <label for="subject">Subject:</label>
      <input
        type="text"
        id="subject"
        name="subject"
        [(ngModel)]="subject"
        required
      />
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea
        id="message"
        name="message"
        [(ngModel)]="message"
        required
      ></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
