<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nautical Comrade</title>
    <link rel="stylesheet" href="home.component.css" />
  </head>
  <body>
    <div class="banner">
      <video autoplay loop muted plays-inline>
        <source src="assets\videos\video1.mp4" type="video/mp4" />
      </video>
      <div class="navbar">
        <img class="logo" src="assets\images\logo.png" />
        <ul>
          <li>
            <a routerLink="/register">Register</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/wea">Weather</a>
            <a routerLink="/species">Species</a>
            <a routerLink="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <h1>NAUTICAL COMRADE</h1>
        <h2>A MARINE LIFE CONSERVATION PLATFORM</h2>
        <h2>#Defend the Deep</h2>
        <div>
          <a routerLink="/adminauth">Admin Portal</a>
        </div>
      </div>
    </div>
  </body>
</html>
